.content-header{
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    color: #EFEFEF;
    text-align: center;
}
.content-header-logo-image{
    width: 20%;
}
.text-h1{
    margin: 0 auto;
} 

.btn{
    margin: 10px;
    border: 0;
    border-radius: 0;
    width: 10%;
    box-sizing: border-box;
    padding: 10px 15px;
    color: #EFEFEF;
}

.btn-background{
    background-color: #FFD76B;
    font-weight: bold;
    color: #212534;
}

.btn-border{
    border: 2px solid #FFD76B;
}
/* 
 cinza: #EFEFEF
 amarelo:FFD76B
 preto-claro: 3B3B48
 preto-escuro: 212534
*/

a{
    background-color: #3B3B48;
}