/* 
*
* header style config
*
*/

.header-menu{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: flex-end;
    align-items: center;
}

.header-items-list{
    display: inline-flex;
    list-style: none;
}
.header-items-list-item{
    margin: 5%;
}

.header-items-list-button{
    padding: 5px;
    text-decoration: none;
    color: #0e111a;
    background-color: #FFD76B;
    opacity: 0.8;
    font-size: bold;
    border-radius: 10%;
}

.logo-todo{
    width: 10%;
}
