/* 
*
* header style config
*
*/

.header-menu{
    display: flex;
    width: 80%;
    margin: 5% auto;
    justify-content: flex-end;
    align-items: center;
}

.header-items-list{
    display: inline-flex;
    list-style: none;
}

.header-items-list-button{
    padding: 10px;
    margin-right: 2%;
    text-decoration: none;
    color: #212534;
    background-color: #FFD76B;
    border-radius: 10% 10% 0% 0%;
}

.logo-todo{
    width: 10%;
}
